<!DOCTYPE html>
<html>

<head>
    <!--指定编码格式，防止中文乱码-->
    <meta charset="utf-8">
    <title>Pollution</title>

    <!-- load d3 and echarts -->
    <script src="https://d3js.org/d3.v5.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='echarts-gl.min.js') }}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script type="text/javascript"
        src="https://api.map.baidu.com/getscript?v=3.0&ak=SSMP8MWDwRzUwafch7SGK9N5L4ET28IZ"></script>
    <script type="text/javascript"
        src="https://fastly.jsdelivr.net/npm/echarts@5.3.2/dist/extension/bmap.min.js"></script>
    <style type="text/css">
        .BMap_cpyCtrl {
            display: none;
        }
    </style>
    <style type="text/css">
        .anchorBL {
            display: none;
        }
    </style>
    <!-- load css -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>

<body>
    <div id="wholeCanvas">
        <div id="banner">
            <h1>PollutionVis</h1>
        </div>

        <div id="leftPart">
            <svg id="rank"></svg>
            <svg id="stack"></svg>
            <svg id="scatter"></svg>
            <svg id="classification"></svg>
        </div>

        <div id="middlePart">
            <g id="centerMap"></g>
            <g id="timeLine"></g>
            <g id="themeRiver"></g>
            <div class="block">
                <input data-index="0" id="cheap" type="checkbox" />
                <label for="cheap" onclick="bt1()"></label>
            </div>
            <div id="selectedtext">
                <p id='p_area'>选择地区 ：</p>
                <p id='p_time'>选择时间 ：</p>
            </div>
            <div id="sendbutton">
                <input id="clear" type="button" value="清除">
                <p> </p>
                <input id="send" type="button" value="发送">
            </div>
        </div>

        <div id="rightPart">
            <svg id="control"></svg>
            <svg id="radar"></svg>
            <svg id="calendar"></svg>
            <svg id="pie"></svg>
            <svg id="parallel"></svg>
            <svg id="bubble"></svg>
            <svg id="everydayAQI"></svg>
        </div>

    </div>
    <!-- load js -->
    <script src="{{url_for('static',filename='js/middleFunction.js')}}"></script>
    <script src="{{url_for('static',filename='js/middleInit.js')}}"></script>
    <script src="{{url_for('static',filename='js/adcode.js')}}"></script>
    <!-- <script src="{{url_for('static',filename='js/index.js')}}"></script> -->
</body>


</html>